<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Promregator | Unknown Error</title>
		<link type="text/css" rel="stylesheet" href="/css/standard.css" />
	</head>
	
	<body>
		<p>Sorry, an error has occurred, for which no dedicated message has been developed so far.</p>
		<p>Please check the logs on the command line of Promregator and check for 
		an <a href="https://github.com/promregator/promregator/issues">open issue</a> at github.</p>
		<p>If you are able to reproduce the error, please provide as much information on</p>
		<ul>
			<li>what you did,</li>
			<li>our configuration, and the</li>
			<li>exact error situation you have received</li>
		</ul>
		<p>in your ticket to allow us to implement a better error message for you.</p>
	</body>
</html>